header{
  background-color: burlywood;
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 20px
}

body{
  background-color: magenta;
}

section{
  background-color: white;
}

main{
  background-color: aqua;
}

p {
  color: yellow;
}